<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>c</key>
		<string>hello1</string>
		<key>v</key>
		<string>16.5</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello2</string>
		<key>v</key>
		<string>16.8</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello3</string>
		<key>v</key>
		<string>17.3</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello4hello4hello4hello4hello4hello4hello4hello4hello4hello4hello4hello4</string>
		<key>v</key>
		<string>17.6</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello5</string>
		<key>v</key>
		<string>17.8</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello6hello6hello6hello6hello6hello6hello6hello6hello6hello6hello6hello6hello6hello6hello6hello6hello6</string>
		<key>v</key>
		<string>18.1</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello7hello7hello7hello7hello7hello7hello7hello7hello7hello7hello7hello7hello7</string>
		<key>v</key>
		<string>18.2</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello8hello8hello8hello8hello8hello8hello8hello8hello8hello8hello8hello8hello8hello8hello8</string>
		<key>v</key>
		<string>18.7</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello9</string>
		<key>v</key>
		<string>18.9</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello10</string>
		<key>v</key>
		<string>19.3</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello11</string>
		<key>v</key>
		<string>20.2</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello12</string>
		<key>v</key>
		<string>20.6</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello13</string>
		<key>v</key>
		<string>21.1</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello14hello14hello14hello14hello14hello14hello14hello14hello14hello14</string>
		<key>v</key>
		<string>21.6</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello15</string>
		<key>v</key>
		<string>21.8</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello16</string>
		<key>v</key>
		<string>21.9</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello17hello17hello17hello17hello17hello17hello17hello17hello17hello17hello17hello17hello17</string>
		<key>v</key>
		<string>23.2</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello18</string>
		<key>v</key>
		<string>24.3</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello19</string>
		<key>v</key>
		<string>24.9</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello20</string>
		<key>v</key>
		<string>25.3</string>
	</dict>
	<dict>
		<key>c</key>
		<string>hello21</string>
		<key>v</key>
		<string>26.4</string>
	</dict>
</array>
</plist>
